{% extends 'base.html' %}

{% block content %}
    <h1 class="shoha">WELCOME</h1>

   

    
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            
            {% for u in users %}
                {% if u.username == current_user.username %}
                     
                {% elif u.flag == True %}
                    <li class="list-group-item">
                        {{ u.username }}
                        <a class="btn btn-danger" href="{{ url_for('ig.unfollowUser', user_id=u.id) }}">Unfollow</a>
                    </li> 

                {% else %}
                    <li class="list-group-item">
                        {{ u.username }}
                        <a class="btn btn-primary" href="{{ url_for('ig.followUser', user_id=u.id) }}">Follow</a>
                    </li> 
        
                {% endif %}
        
            {% endfor %}
        </ul>
    </div>
  

    <a href="/login">Login Page</a>
    
{% endblock %}

